/*
 * Colors
 */
/*
 * Typography
 */
/**
 * Media Query Mixins
 */
/**
 * Media Query Mixins
 */
/*
 * Colors
 */
/*
 * Typography
 */
/**
 * Media Query Mixins
 */
/*
 * Colors
 */
/*
 * Typography
 */
/**
 * Media Query Mixins
 */
/*
 * Colors
 */
/*
 * Typography
 */
h1, h2, h3, body.elev8 .horizontal-split-text__subheading em, h4, p, i, a, li, td {
  margin: 0;
  padding: .5rem 0; }

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 5rem;
  padding: 1rem 0;
  letter-spacing: .1rem; }
  @media (min-width: 650px) {
    h1 {
      font-size: 3.30469rem;
      line-height: 7rem; } }

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.5rem;
  padding: 2rem 0 2.2rem;
  letter-spacing: 0.1rem; }
  @media (min-width: 650px) {
    h2 {
      font-size: 2.72852rem;
      line-height: 4rem; } }

h3, body.elev8 .horizontal-split-text__subheading em, h3 p, body.elev8 .horizontal-split-text__subheading em p {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: 0.1rem; }
  @media (min-width: 650px) {
    h3, body.elev8 .horizontal-split-text__subheading em, h3 p, body.elev8 .horizontal-split-text__subheading em p {
      font-size: 2.15234rem;
      line-height: 3rem; } }

h4, h4 p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0.1rem; }
  @media (min-width: 650px) {
    h4, h4 p {
      font-size: 1.92188rem;
      line-height: 3rem; } }

i.icon {
  font-size: 4rem;
  display: block;
  padding: 1rem;
  text-align: center;
  color: #ec2d5b; }

p {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2rem; }

.button {
  font-size: 2rem;
  padding: 1.5rem 3rem;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: #ffffff;
  border: 0.2rem solid #e04171;
  background-color: #e04171; }
  .button:hover, .button:active {
    background-color: rgba(224, 65, 113, 0.85); }

.body1 {
  font-size: 1.8rem; }

.body2 {
  font-size: 1.6rem; }

.caption, .caption p {
  font-size: 1.4rem; }

a {
  color: inherit; }
  a:hover {
    color: #e04171; }

/*
 * Colors
 */
/*
 * Typography
 */
/**
 * Media Query Mixins
 */
:root {
  --toggle-size: 1.5rem;
  --switch-w: 4em;
  --switch-h: 2em;
  --switch-handle-scale: .65;
  --switch-off-handle-x: -.125em;
  --switch-on-handle-x: calc(100% - .125em);
  --switch-transition-duration: .2s; }

.toggle-container {
  min-width: 6rem; }

#theme-toggle {
  display: none; }
  #theme-toggle + label {
    font-size: var(--toggle-size);
    display: flex;
    height: var(--switch-h);
    width: var(--switch-w);
    border-radius: calc(var(--switch-h) / 2);
    background-size: auto 8em;
    background-position: bottom;
    background-image: linear-gradient(180deg, #021037 0%, #20206A 19%, #4184B1 66%, #62E7F7 100%);
    transition: var(--switch-transition-duration);
    border: 0.2rem solid #0f3d73;
    overflow: hidden;
    cursor: pointer; }
    #theme-toggle + label span {
      background: #fffad8;
      border-radius: 50%;
      height: var(--switch-h);
      width: var(--switch-h);
      transform: translateX(var(--switch-off-handle-x)) scale(var(--switch-handle-scale));
      transition: var(--switch-transition-duration);
      cursor: pointer;
      box-shadow: 0 0 .25em .0625em #fbee8d, 0 0 2em 0 #FFEB3B, inset -.25em -.25em 0 0 #fbee8e, inset -.3125em -.3125em 0 .625em #fff5b2;
      margin-top: var(--switch-off-handle-x); }
  #theme-toggle:checked {
    font-size: var(--switch-font-size); }
    #theme-toggle:checked + label {
      background-position: top;
      border-color: #0f3d73; }
      #theme-toggle:checked + label span {
        background: transparent;
        transform: translateX(var(--switch-on-handle-x)) scale(var(--switch-handle-scale));
        box-shadow: inset -.1875em -.1875em 0 0 #fbe7ef, inset -.5625em -.5625em 0 0 #fffff7; }

html {
  font-size: 10px;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
  --bg: #ffffff;
  --bg-alt: #f7f7f7;
  --text: #111111;
  --text-highlight: #ec2d5b;
  --filter: saturate(1);
  --header: #15134f;
  --footer: #292752;
  --input: #ffffff; }

html[data-theme='dark'] {
  --bg: #282828;
  --bg-alt: #222222;
  --text: #f7f7f7;
  --text-highlight: #e04171;
  --filter: saturate(.9);
  --header: #151515;
  --footer: #151515;
  --input: #aaaaaa; }

* {
  box-sizing: border-box; }

body.elev8 {
  font-family: 'Muli', sans-serif;
  font-display: swap;
  font-weight: 400;
  position: relative;
  overflow-x: auto;
  margin: auto;
  letter-spacing: 0.02rem;
  color: var(--text);
  min-height: 100vh;
  /*
 * Colors
 */
  /*
 * Typography
 */
  /**
 * Media Query Mixins
 */
  /*
 * Colors
 */
  /*
 * Typography
 */
  /**
 * Media Query Mixins
 */
  /*
 * Colors
 */
  /*
 * Typography
 */
  /**
 * Media Query Mixins
 */
  /**
 * Media Query Mixins
 */
  /*
 * Colors
 */
  /*
 * Typography
 */
  /**
 * Media Query Mixins
 */
  /*
 * Colors
 */
  /*
 * Typography
 */
  /*
 * Colors
 */
  /*
 * Typography
 */
  /**
 * Media Query Mixins
 */
  /*
 * Colors
 */
  /*
 * Typography
 */
  /**
 * Media Query Mixins
 */
  /*
 * Colors
 */
  /*
 * Typography
 */
  /**
 * Media Query Mixins
 */
  /*
 * Colors
 */
  /*
 * Typography
 */
  /**
 * Media Query Mixins
 */
  /**
 * Media Query Mixins
 */
  /*
 * Colors
 */
  /*
 * Typography
 */
  /**
 * Media Query Mixins
 */
  /*
 * Colors
 */
  /*
 * Typography
 */
  /*
 * Colors
 */
  /*
 * Typography
 */
  /**
 * Media Query Mixins
 */
  /*
 * Colors
 */
  /*
 * Typography
 */
  /**
 * Media Query Mixins
 */
  /*
 * Colors
 */
  /*
 * Typography
 */
  /*
 * Colors
 */
  /*
 * Typography
 */
  /**
 * Media Query Mixins
 */
  /*
 * Colors
 */
  /*
 * Typography
 */
  /**
 * Media Query Mixins
 */
  /*
 * Colors
 */
  /*
 * Typography
 */ }
  body.elev8 hr {
    height: 1px;
    margin: 2.5rem 0;
    border: 0;
    background: #ccc; }
  body.elev8 main {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    min-height: 75vh;
    filter: var(--filter); }
    body.elev8 main section {
      width: 100%;
      padding: 0;
      transition: all .5s; }
      body.elev8 main section:nth-of-type(2n) {
        background-color: var(--bg); }
      body.elev8 main section:nth-of-type(2n+1) {
        background-color: var(--bg-alt); }
  body.elev8 .content {
    overflow: hidden;
    max-width: 1280px;
    margin: auto;
    padding: 1rem 2.5rem; }
  body.elev8 img {
    pointer-events: none; }
  body.elev8 input {
    overflow: visible; }
  body.elev8 .header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    transition: all 0.5s ease-out, background 1s ease-out;
    transition-delay: 0.2s; }
    body.elev8 .header.scroll {
      opacity: .9;
      background-color: var(--header); }
    @media (min-width: 650px) {
      body.elev8 .header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 2rem;
        background-color: transparent; } }
    body.elev8 .header .content {
      padding: 0; }
      @media (min-width: 650px) {
        body.elev8 .header .content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 100%; } }
      body.elev8 .header .content a.logo-link {
        height: 100%;
        padding: 0; }
      body.elev8 .header .content .logo {
        height: 100%;
        width: auto; }
        body.elev8 .header .content .logo path.logo-fill {
          fill: #ffffff; }
        @media (max-width: 649px) {
          body.elev8 .header .content .logo {
            display: none; } }
  body.elev8 h1, body.elev8 h2, body.elev8 h3, body.elev8 .horizontal-split-text__subheading em, body.elev8 h4, body.elev8 p, body.elev8 i, body.elev8 a, body.elev8 li, body.elev8 td {
    margin: 0;
    padding: .5rem 0; }
  body.elev8 h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 5rem;
    padding: 1rem 0;
    letter-spacing: .1rem; }
    @media (min-width: 650px) {
      body.elev8 h1 {
        font-size: 3.30469rem;
        line-height: 7rem; } }
  body.elev8 h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    padding: 2rem 0 2.2rem;
    letter-spacing: 0.1rem; }
    @media (min-width: 650px) {
      body.elev8 h2 {
        font-size: 2.72852rem;
        line-height: 4rem; } }
  body.elev8 h3, body.elev8 .horizontal-split-text__subheading em, body.elev8 h3 p, body.elev8 .horizontal-split-text__subheading em p {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: 0.1rem; }
    @media (min-width: 650px) {
      body.elev8 h3, body.elev8 .horizontal-split-text__subheading em, body.elev8 h3 p, body.elev8 .horizontal-split-text__subheading em p {
        font-size: 2.15234rem;
        line-height: 3rem; } }
  body.elev8 h4, body.elev8 h4 p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.1rem; }
    @media (min-width: 650px) {
      body.elev8 h4, body.elev8 h4 p {
        font-size: 1.92188rem;
        line-height: 3rem; } }
  body.elev8 i.icon {
    font-size: 4rem;
    display: block;
    padding: 1rem;
    text-align: center;
    color: #ec2d5b; }
  body.elev8 p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2rem; }
  body.elev8 .button {
    font-size: 2rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #ffffff;
    border: 0.2rem solid #e04171;
    background-color: #e04171; }
    body.elev8 .button:hover, body.elev8 .button:active {
      background-color: rgba(224, 65, 113, 0.85); }
  body.elev8 .body1 {
    font-size: 1.8rem; }
  body.elev8 .body2 {
    font-size: 1.6rem; }
  body.elev8 .caption, body.elev8 .caption p {
    font-size: 1.4rem; }
  body.elev8 a {
    color: inherit; }
    body.elev8 a:hover {
      color: #e04171; }
  body.elev8 .footer {
    color: #ffffff;
    background-color: var(--footer); }
    body.elev8 .footer .content {
      padding: 3rem 4rem;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between; }
      body.elev8 .footer .content .social-icons {
        margin: auto; }
        body.elev8 .footer .content .social-icons a {
          transition: all 0.3s; }
          body.elev8 .footer .content .social-icons a i {
            font-size: 3rem;
            display: inline-block;
            margin: 0 1rem; }
      body.elev8 .footer .content .copyright {
        text-align: center;
        padding: 1rem; }
  @media (min-width: 650px) {
    body.elev8 .navigation {
      display: flex;
      align-items: center; } }
  body.elev8 .navigation .navigation-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem; }
    body.elev8 .navigation .navigation-top .logo-mobile {
      display: block;
      height: 6rem; }
      @media (min-width: 650px) {
        body.elev8 .navigation .navigation-top .logo-mobile {
          display: none; } }
    body.elev8 .navigation .navigation-top .burger-container {
      position: relative;
      display: inline-block;
      width: 5rem;
      height: 5rem;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      transform: rotate(0deg);
      -webkit-tap-highlight-color: transparent; }
      @media (min-width: 650px) {
        body.elev8 .navigation .navigation-top .burger-container {
          display: none; } }
      body.elev8 .navigation .navigation-top .burger-container #burger {
        position: relative;
        top: 50%;
        display: block;
        width: 2rem;
        height: 2rem;
        margin: -.5rem auto 0; }
        body.elev8 .navigation .navigation-top .burger-container #burger .bar {
          position: relative;
          display: block;
          width: 100%;
          height: .2rem;
          transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
          transition-delay: 0s;
          background: #ffffff; }
          body.elev8 .navigation .navigation-top .burger-container #burger .bar.topBar {
            transform: translateY(0px) rotate(0deg); }
          body.elev8 .navigation .navigation-top .burger-container #burger .bar.btmBar {
            transform: translateY(6px) rotate(0deg); }
  body.elev8 .navigation .menu {
    position: relative;
    padding: 0 5rem 0;
    list-style: none;
    overflow: visible; }
    @media (min-width: 650px) {
      body.elev8 .navigation .menu {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 2rem; } }
    body.elev8 .navigation .menu .menu-item {
      display: flex;
      align-items: center;
      width: 50%;
      min-height: 6rem;
      margin: auto;
      transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      transition-delay: 0.5s;
      transform: scale(1.15) translateY(-30px);
      text-align: center;
      pointer-events: none;
      opacity: 0;
      border-bottom: 0.1rem solid #ec2d5b; }
      @media (min-width: 650px) {
        body.elev8 .navigation .menu .menu-item {
          min-height: auto;
          margin: 0 1.5rem;
          transform: none;
          pointer-events: auto;
          opacity: 1;
          border-bottom: none; } }
      body.elev8 .navigation .menu .menu-item a {
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 2.35;
        position: relative;
        display: block;
        width: 100%;
        white-space: nowrap;
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff; }
      body.elev8 .navigation .menu .menu-item:last-of-type {
        display: flex; }
        @media (max-width: 649px) {
          body.elev8 .navigation .menu .menu-item:last-of-type {
            justify-content: center;
            margin-top: .5rem;
            border-bottom: none; } }
  body.elev8 .navigation-open {
    height: 40vh;
    padding-bottom: 2rem;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.25s;
    opacity: 0.9;
    background-color: #15134f;
    background-blend-mode: darken; }
    body.elev8 .navigation-open .navigation-top .burger-container {
      transform: rotate(90deg); }
      body.elev8 .navigation-open .navigation-top .burger-container #burger .bar {
        transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition-delay: 0.2s; }
        body.elev8 .navigation-open .navigation-top .burger-container #burger .bar.topBar {
          transform: translateY(4px) rotate(45deg); }
        body.elev8 .navigation-open .navigation-top .burger-container #burger .bar.btmBar {
          transform: translateY(2px) rotate(-45deg); }
    body.elev8 .navigation-open .menu .menu-item {
      transition-delay: 0.5s;
      transform: scale(1) translateY(0);
      pointer-events: auto;
      opacity: 1; }
      body.elev8 .navigation-open .menu .menu-item a {
        pointer-events: auto; }
  body.elev8 .hero {
    position: relative;
    display: flex;
    flex-direction: column; }
    body.elev8 .hero-background {
      position: relative;
      overflow: hidden;
      flex-grow: 1;
      height: 40vh;
      background-color: #15134f;
      background-repeat: no-repeat;
      background-position: unset;
      background-size: cover;
      filter: var(--filter); }
      @media (min-width: 650px) {
        body.elev8 .hero-background {
          background-position: top center;
          height: 50vh; } }
    body.elev8 .hero h1 {
      max-width: 70rem;
      margin: auto;
      text-align: center;
      color: #111111; }
    body.elev8 .hero h2 {
      position: relative;
      text-align: center;
      color: #ffffff;
      background-color: #e04171; }
      @media (max-width: 649px) {
        body.elev8 .hero h2 {
          padding: 2rem; } }
  body.elev8 .icon-list .title {
    text-align: center; }
  body.elev8 .icon-list .list {
    display: grid;
    padding-top: 3rem; }
    @media (min-width: 650px) {
      body.elev8 .icon-list .list {
        grid-gap: 7rem;
        grid-template-columns: repeat(3, 1fr); } }
    body.elev8 .icon-list .list div {
      padding: 2rem; }
  body.elev8 .icon-list .list-item {
    text-align: center; }
  body.elev8 h1, body.elev8 h2, body.elev8 h3, body.elev8 .horizontal-split-text__subheading em, body.elev8 h4, body.elev8 p, body.elev8 i, body.elev8 a, body.elev8 li, body.elev8 td {
    margin: 0;
    padding: .5rem 0; }
  body.elev8 h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 5rem;
    padding: 1rem 0;
    letter-spacing: .1rem; }
    @media (min-width: 650px) {
      body.elev8 h1 {
        font-size: 3.30469rem;
        line-height: 7rem; } }
  body.elev8 h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    padding: 2rem 0 2.2rem;
    letter-spacing: 0.1rem; }
    @media (min-width: 650px) {
      body.elev8 h2 {
        font-size: 2.72852rem;
        line-height: 4rem; } }
  body.elev8 h3, body.elev8 .horizontal-split-text__subheading em, body.elev8 h3 p, body.elev8 .horizontal-split-text__subheading em p {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: 0.1rem; }
    @media (min-width: 650px) {
      body.elev8 h3, body.elev8 .horizontal-split-text__subheading em, body.elev8 h3 p, body.elev8 .horizontal-split-text__subheading em p {
        font-size: 2.15234rem;
        line-height: 3rem; } }
  body.elev8 h4, body.elev8 h4 p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.1rem; }
    @media (min-width: 650px) {
      body.elev8 h4, body.elev8 h4 p {
        font-size: 1.92188rem;
        line-height: 3rem; } }
  body.elev8 i.icon {
    font-size: 4rem;
    display: block;
    padding: 1rem;
    text-align: center;
    color: #ec2d5b; }
  body.elev8 p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2rem; }
  body.elev8 .button {
    font-size: 2rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #ffffff;
    border: 0.2rem solid #e04171;
    background-color: #e04171; }
    body.elev8 .button:hover, body.elev8 .button:active {
      background-color: rgba(224, 65, 113, 0.85); }
  body.elev8 .body1 {
    font-size: 1.8rem; }
  body.elev8 .body2 {
    font-size: 1.6rem; }
  body.elev8 .caption, body.elev8 .caption p {
    font-size: 1.4rem; }
  body.elev8 a {
    color: inherit; }
    body.elev8 a:hover {
      color: #e04171; }
  @media (min-width: 650px) {
    body.elev8 .horizontal-split:nth-of-type(2n) .content .horizontal-split-text {
      padding-right: 5rem; } }
  body.elev8 .horizontal-split:nth-of-type(2n+1) .content {
    flex-direction: column-reverse; }
    @media (min-width: 650px) {
      body.elev8 .horizontal-split:nth-of-type(2n+1) .content {
        flex-direction: row-reverse; }
        body.elev8 .horizontal-split:nth-of-type(2n+1) .content .horizontal-split-text {
          padding-left: 5rem; } }
  body.elev8 .horizontal-split .content {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    max-width: 1280px;
    padding: 5rem 3rem; }
    @media (min-width: 650px) {
      body.elev8 .horizontal-split .content {
        flex-direction: row; } }
  body.elev8 .horizontal-split-text {
    text-align: center; }
    @media (min-width: 650px) {
      body.elev8 .horizontal-split-text {
        text-align: left;
        width: 50%;
        padding-bottom: 2rem; } }
    body.elev8 .horizontal-split-text__heading {
      display: inline-block;
      margin-bottom: 2rem;
      padding-bottom: 0;
      border-bottom: 0.2rem solid #ec2d5b; }
    body.elev8 .horizontal-split-text__subheading em {
      display: block;
      color: #ec2d5b; }
    body.elev8 .horizontal-split-text__paragraph {
      color: #ec2d5b; }
  body.elev8 .horizontal-split-media {
    flex-grow: 1;
    width: 100%;
    padding: 2rem 0; }
    @media (min-width: 650px) {
      body.elev8 .horizontal-split-media {
        width: auto;
        padding: 5rem; } }
    body.elev8 .horizontal-split-media__vector {
      background-color: transparent; }
  body.elev8 h1, body.elev8 h2, body.elev8 h3, body.elev8 .horizontal-split-text__subheading em, body.elev8 h4, body.elev8 p, body.elev8 i, body.elev8 a, body.elev8 li, body.elev8 td {
    margin: 0;
    padding: .5rem 0; }
  body.elev8 h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 5rem;
    padding: 1rem 0;
    letter-spacing: .1rem; }
    @media (min-width: 650px) {
      body.elev8 h1 {
        font-size: 3.30469rem;
        line-height: 7rem; } }
  body.elev8 h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    padding: 2rem 0 2.2rem;
    letter-spacing: 0.1rem; }
    @media (min-width: 650px) {
      body.elev8 h2 {
        font-size: 2.72852rem;
        line-height: 4rem; } }
  body.elev8 h3, body.elev8 .horizontal-split-text__subheading em, body.elev8 h3 p, body.elev8 .horizontal-split-text__subheading em p {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: 0.1rem; }
    @media (min-width: 650px) {
      body.elev8 h3, body.elev8 .horizontal-split-text__subheading em, body.elev8 h3 p, body.elev8 .horizontal-split-text__subheading em p {
        font-size: 2.15234rem;
        line-height: 3rem; } }
  body.elev8 h4, body.elev8 h4 p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.1rem; }
    @media (min-width: 650px) {
      body.elev8 h4, body.elev8 h4 p {
        font-size: 1.92188rem;
        line-height: 3rem; } }
  body.elev8 i.icon {
    font-size: 4rem;
    display: block;
    padding: 1rem;
    text-align: center;
    color: #ec2d5b; }
  body.elev8 p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2rem; }
  body.elev8 .button {
    font-size: 2rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #ffffff;
    border: 0.2rem solid #e04171;
    background-color: #e04171; }
    body.elev8 .button:hover, body.elev8 .button:active {
      background-color: rgba(224, 65, 113, 0.85); }
  body.elev8 .body1 {
    font-size: 1.8rem; }
  body.elev8 .body2 {
    font-size: 1.6rem; }
  body.elev8 .caption, body.elev8 .caption p {
    font-size: 1.4rem; }
  body.elev8 a {
    color: inherit; }
    body.elev8 a:hover {
      color: #e04171; }
  body.elev8 .form .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 3rem 8rem; }
    body.elev8 .form .content .form-success, body.elev8 .form .content .form-error {
      display: none; }
    body.elev8 .form .content .form__heading {
      display: inline-block;
      margin-bottom: 2rem;
      padding-bottom: 0;
      border-bottom: .2rem solid #ec2d5b; }
    body.elev8 .form .content .form__subheading {
      padding-top: 3rem;
      text-align: center; }
    body.elev8 .form .content .input, body.elev8 .form .content .contact-form__name input, body.elev8 .form .content .contact-form__email input, body.elev8 .form .content .contact-form__subject input, body.elev8 .form .content .contact-form__message input, body.elev8 .form .content .contact-form__message textarea {
      font-size: 1.8rem;
      display: block;
      margin: 1rem 0 2rem;
      padding: 1rem;
      border-width: 0;
      border-bottom: 2px solid rgba(236, 45, 91, 0.35);
      outline: none;
      border-radius: 0;
      transition: all .3s;
      width: 100%;
      line-height: 2.5rem;
      background-color: var(--input); }
      body.elev8 .form .content .input:focus, body.elev8 .form .content .contact-form__name input:focus, body.elev8 .form .content .contact-form__email input:focus, body.elev8 .form .content .contact-form__subject input:focus, body.elev8 .form .content .contact-form__message input:focus, body.elev8 .form .content .contact-form__message textarea:focus {
        border-bottom: 2px solid #e04171; }
    body.elev8 .form .content .contact-form {
      width: 100%;
      padding-top: 3rem; }
      @media (min-width: 1280px) {
        body.elev8 .form .content .contact-form {
          width: 80%; } }
      body.elev8 .form .content .contact-form .form-group {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: auto;
        width: 100%; }
        @media (min-width: 650px) {
          body.elev8 .form .content .contact-form .form-group {
            grid-gap: 5rem;
            flex-direction: row; } }
      body.elev8 .form .content .contact-form__name, body.elev8 .form .content .contact-form__email, body.elev8 .form .content .contact-form__subject, body.elev8 .form .content .contact-form__message {
        margin: 1rem 0 2rem;
        flex-grow: 1; }
        @media (min-width: 1280px) {
          body.elev8 .form .content .contact-form__name, body.elev8 .form .content .contact-form__email, body.elev8 .form .content .contact-form__subject, body.elev8 .form .content .contact-form__message {
            margin: 1rem 2rem 0; } }
      body.elev8 .form .content .contact-form__message {
        flex-grow: 1; }
        body.elev8 .form .content .contact-form__message textarea {
          resize: none; }
      body.elev8 .form .content .contact-form label {
        font-size: 1.8rem; }
      body.elev8 .form .content .contact-form__send {
        display: flex;
        justify-content: center;
        padding-top: 3rem; }
        body.elev8 .form .content .contact-form__send input:focus {
          outline: none; }
      body.elev8 .form .content .contact-form .form-messages {
        text-align: center; }
        body.elev8 .form .content .contact-form .form-messages .form-success {
          background-color: #41e0a5;
          padding: 1rem 2rem; }
        body.elev8 .form .content .contact-form .form-messages .form-error {
          background-color: #aaaaaa;
          padding: 1rem 2rem; }
  body.elev8 h1, body.elev8 h2, body.elev8 h3, body.elev8 .horizontal-split-text__subheading em, body.elev8 h4, body.elev8 p, body.elev8 i, body.elev8 a, body.elev8 li, body.elev8 td {
    margin: 0;
    padding: .5rem 0; }
  body.elev8 h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 5rem;
    padding: 1rem 0;
    letter-spacing: .1rem; }
    @media (min-width: 650px) {
      body.elev8 h1 {
        font-size: 3.30469rem;
        line-height: 7rem; } }
  body.elev8 h2 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    padding: 2rem 0 2.2rem;
    letter-spacing: 0.1rem; }
    @media (min-width: 650px) {
      body.elev8 h2 {
        font-size: 2.72852rem;
        line-height: 4rem; } }
  body.elev8 h3, body.elev8 .horizontal-split-text__subheading em, body.elev8 h3 p, body.elev8 .horizontal-split-text__subheading em p {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    letter-spacing: 0.1rem; }
    @media (min-width: 650px) {
      body.elev8 h3, body.elev8 .horizontal-split-text__subheading em, body.elev8 h3 p, body.elev8 .horizontal-split-text__subheading em p {
        font-size: 2.15234rem;
        line-height: 3rem; } }
  body.elev8 h4, body.elev8 h4 p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.1rem; }
    @media (min-width: 650px) {
      body.elev8 h4, body.elev8 h4 p {
        font-size: 1.92188rem;
        line-height: 3rem; } }
  body.elev8 i.icon {
    font-size: 4rem;
    display: block;
    padding: 1rem;
    text-align: center;
    color: #ec2d5b; }
  body.elev8 p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2rem; }
  body.elev8 .button {
    font-size: 2rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #ffffff;
    border: 0.2rem solid #e04171;
    background-color: #e04171; }
    body.elev8 .button:hover, body.elev8 .button:active {
      background-color: rgba(224, 65, 113, 0.85); }
  body.elev8 .body1 {
    font-size: 1.8rem; }
  body.elev8 .body2 {
    font-size: 1.6rem; }
  body.elev8 .caption, body.elev8 .caption p {
    font-size: 1.4rem; }
  body.elev8 a {
    color: inherit; }
    body.elev8 a:hover {
      color: #e04171; }
  body.elev8 .legal #iubenda_policy .simple_pp > ul > li > ul .iconed, body.elev8 .legal #iubenda_policy .expand-click {
    background: none;
    padding-left: 0; }
  body.elev8 .legal #iubenda_policy .expand-click {
    padding-left: 2rem !important; }
  body.elev8 .legal #iubenda_policy .expand-content {
    padding: 0 1rem .5rem !important; }
  body.elev8 .legal #iubenda_policy .iub_content p, body.elev8 .legal #iubenda_policy .iub_content li {
    font-family: 'Muli', sans-serif;
    font-size: 1.6rem;
    line-height: 2.5rem; }
  body.elev8 .legal #iubenda_policy .iub_content h1, body.elev8 .legal #iubenda_policy .iub_content h2 {
    display: none; }
  body.elev8 .legal #iubenda_policy .iub_content h3, body.elev8 .legal #iubenda_policy .iub_content .horizontal-split-text__subheading em, body.elev8 .horizontal-split-text__subheading .legal #iubenda_policy .iub_content em {
    font-size: 2rem;
    padding: 1.5rem 0 1rem; }
  body.elev8 .legal #iubenda_policy .iub_content ul:last-child li ul li h3, body.elev8 .legal #iubenda_policy .iub_content ul:last-child li ul li .horizontal-split-text__subheading em, body.elev8 .horizontal-split-text__subheading .legal #iubenda_policy .iub_content ul:last-child li ul li em {
    font-size: 1.6rem; }
  body.elev8 .legal #iubenda_policy .iub_content h4 {
    font-size: 1.8rem; }
  body.elev8 .legal #iubenda_policy .iub_content div, body.elev8 .legal #iubenda_policy .iub_content p, body.elev8 .legal #iubenda_policy .iub_content h3, body.elev8 .legal #iubenda_policy .iub_content .horizontal-split-text__subheading em, body.elev8 .horizontal-split-text__subheading .legal #iubenda_policy .iub_content em, body.elev8 .legal #iubenda_policy .iub_content h4 {
    font-family: 'Muli', sans-serif;
    color: var(--text); }
  body.elev8 .legal #iubenda_policy .iub_content a {
    text-decoration: none;
    color: #e04171;
    border-bottom: none; }
  body.elev8 .legal #iubenda_policy .iub_content hr {
    display: none; }
  body.elev8 .legal #iubenda_policy .iub_content .box_primary {
    background-color: var(--bg-alt); }
