<header class="header">

    <div class="header-nav-open" id="header-nav-open">
        {% include "_includes/vectors/openMenu.svg" %}
    </div>

    <div class="header-logo">
        <img class="header-logo-image" src="" alt="" />
    </div>

    {% include "_includes/navigation" with { desktop: true } %}

</header>