<header class="header">

    <div class="content">

        {% set logo = craft.assets().filename('logo-white.png').one() %}
        <img class="logo" src="{{ logo.getUrl() }}" alt="">

        {% include "_includes/navigation" with { desktop: true } %}

    </div>

</header>