<header class="header" id="header">

    <div class="content">

        {% set logo = craft.assets().filename('logo-white.png').one() %}
        <img class="logo" src="{{ logo.getUrl() }}" alt="Elev8 logo">

        {% include "_includes/navigation" %}

    </div>

</header>