<head>
    {% hook 'seo' %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="referrer" content="origin-when-cross-origin"/>
    {% do view.registerCssFile("@web/assets/css/normalize.css") %}
    {% do view.registerCssFile("@web/assets/css/style.min.css") %}
    {% do view.registerCssFile("https://use.fontawesome.com/releases/v5.14.0/css/all.css") %}
    {% do view.registerCssFile("https://use.typekit.net/qnh6wky.css") %}
    {% do view.registerJsFile("@web/assets/js/dist/script.min.js") %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ alias("@web/apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ alias("@web/favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ alias("@web/favicon-16x16.png") }}">
    <meta name="theme-color" content="#ffffff">

    {# Google Analytics - Global site tag (gtag.js) #}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J8Y1F5SMEB"></script>
    <script>
    window.dataLayer = window.dataLayer || []

    function gtag () {dataLayer.push(arguments)}

    gtag('js', new Date())

    gtag('config', 'G-J8Y1F5SMEB')
    </script>
    {# End Google Analytics #}

    {# Google Tag Manager #}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PF4BKF3');</script>
    {# End Google Tag Manager #}

    {# Iubenda Cookie Banner #}
    <script type="text/javascript">
    var _iub = _iub || []
    _iub.csConfiguration = {
      'gdprAppliesGlobally': false,
      'countryDetection': true,
      'cookiePolicyInOtherWindow': true,
      'askConsentAtCookiePolicyUpdate': true,
      'consentOnContinuedBrowsing': false,
      'lang': 'en',
      'siteId': 1301242,
      'cookiePolicyId': 94595156,
      'cookiePolicyUrl': '/cookies',
      'banner': {
        'prependOnBody': false,
        'acceptButtonDisplay': true,
        'customizeButtonDisplay': true,
        'acceptButtonColor': '#e04171',
        'acceptButtonCaptionColor': 'white',
        'customizeButtonColor': '#DADADA',
        'customizeButtonCaptionColor': '#4D4D4D',
        'rejectButtonDisplay': true,
        'rejectButtonColor': '#708090',
        'rejectButtonCaptionColor': 'white',
        'position': 'float-top-center',
        'textColor': 'black',
        'backgroundColor': '#ffffff',
        'fontSize': '14px',
        'brandBackgroundColor': '#15134f',
        'brandTextColor': 'black',
        'acceptButtonCaption': '<span style="font-family: \'Muli\', sans-serif; text-transform: uppercase; font-weight: 600; letter-spacing: 1px;">Accept</span>',
        'customizeButtonCaption': '<span style="font-family: \'Muli\', sans-serif; text-transform: uppercase; font-weight: 600; letter-spacing: 1px;">Learn more</span>',
        'rejectButtonCaption': '<span style="font-family: \'Muli\', sans-serif; text-transform: uppercase; font-weight: 600; letter-spacing: 1px;">Reject</span>',
        'content': '<div id="iubenda-cs-title" style="font-family: \'Muli\', sans-serif; font-size: 20px; color: #e04171; font-weight: 600;">Cookie Notice</div><div id="iubenda-cs-paragraph" style="font-family: \'Muli\', sans-serif; font-weight: 500; font-size: 16px;">We use cookies on this website as specified in the <a href="/cookies" style="text-decoration: none !important; opacity: 1 !important; color: #e04171 !important;">cookie policy</a> to monitor performance and improve your overall experience. We do not store non-essential cookies without your consent. Press Accept to proceed.</div>',
      },
    }
    </script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
    {# End Iubenda Cookie Banner #}

    {# jQuery #}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    {# End jQuery #}


</head>