<header class="header" id="header">

    <div class="content">

        {% set logo = craft.assets().filename('elev8studio-logo.svg').one() %}

        {{ svg(logo, sanitize=false, namespace=false)|attr({
            class: 'logo'
        }) }}

        {% include "_includes/navigation" %}

    </div>

</header>