<div class="content content--col-reverse md:flex-row">
    <div class="horizontal-split-text text-center md:text-left md:w-1/2 md:pb-8">
        <h1 class="horizontal-split-text__heading inline-block mb-8 pb-4 border-b-2 border-highlight">
            {{ block.heading|nl2br }}
        </h1>

        <h2 class="horizontal-split-text__subheading">
            {{ block.subheading|nl2br }}
        </h2>

        <div class="horizontal-split-text__paragraph">
            {{ block.advancedText }}
        </div>
    </div>

    <div class="horizontal-split-media flex-grow w-full p-8 md:w-auto">
        <img class="horizontal-split-media__vector bg-transparent"
            src="{{ block.vector.one().getUrl() }}"
            alt="" />
    </div>
</div>
