<div class="content">
	<div class="list">
		{% for item in block.iconList.all() %}
			<div>
				<i class="icon list-icon fa fa-{{ item.iconName }}"></i>
				<h3 class="list-item">
					{{ item.heading }}
				</h3>
			</div>
		{% endfor %}
	</div>
</div>
