{% import '_helpers/macros' as macros %}

{% set navigation = navigation.menu.all() %}

<nav class="navigation w-full md:w-auto md:flex md:items-center">
    <div class="w-full flex items-center justify-between py-4 md:hidden">
        <div class="burger-container relative inline-block w-20 h-20 cursor-pointer select-none flex items-center"
            data-behaviour="Menu">
            <div id="burger" class="relative block w-12 h-8">
                <div class="burger-bar topBar"></div>
                <div class="burger-bar midBar w-8"></div>
                <div class="burger-bar btmBar"></div>
            </div>
        </div>

        {% set logo = craft.assets().filename('elev8studio-logo.svg').one() %}
        <a class="h-24 p-0 md:hidden" href="/" aria-label="Visit homepage">
            {{
                svg(logo, sanitize = false, namespace = false)|attr({
                    class: 'logo block w-auto h-24'
                })
            }}
        </a>
    </div>
    <ul class="relative visible p-20 list-none md:flex md:justify-center md:m-0 md:py-8 md:pl-8 md:pr-0 w-full">
        {% for block in navigation %}
            <li class="flex justify-center w-1/2 m-auto text-center border-b-2 border-highlight md:my-0 md:mx-6 md:transform-none md:pointer-events-auto md:opacity-100 md:border-b-0">
                {% set slug = block.navLink.getUrl()|substringAfterLast('/') %}
                <a {{ block.navLink.getLinkAttributes() }}
                    class="{{
                    macros.is_active(
                        slug
                    )
                    }} font-medium leading-9 relative block w-full whitespace-nowrap uppercase no-underline text-white">
                    {{ block.navLink.getText() }}
                </a>
            </li>
        {% endfor %}
        <li class="flex justify-center m-auto text-center md:my-0 md:ml-6 md:transform-none md:pointer-events-auto">
            <input class="theme-togle"
                type="checkbox"
                name="theme-toggle"
                id="theme-toggle"
                data-behaviour="Theme" />
            <label for="theme-toggle" class="theme-toggle"><span></span></label>
        </li>
    </ul>
</nav>
