@import 'variables';
@import 'typography';

.form {
	.content {
		padding: 5rem 3rem 8rem;

		@apply flex items-center flex-col justify-center;

		.form-success,
		.form-error {
			@apply hidden;
		}

		.form__heading {
			@apply inline-block mb-8 pb-0 border-2 border-highlight;
		}

		.form__subheading {
			@apply pt-12 text-center;
		}

		.input {
			@apply block mt-4 mx-0 mb-8 p-4 border-0 border-b-2 outline-none leading-10 w-full transition-all duration-300 rounded-none focus:border-highlightSoft;

			font-size: $h4;
			border-color: rgba(236, 45, 91, 0.35);
			background-color: var(--input);
		}

		.contact-form {
			@apply w-full pt-12 xl:w-4/5;

			.form-group {
				@apply flex justify-around flex-col m-auto w-full sm:gap-20 flex-row;
			}

			&__name,
			&__email,
			&__subject,
			&__message {
				@apply mt-4 mx-0 mb-8 flex-grow xl:mx-8 xl:mb-0;

				input {
					@extend .input;
				}
			}

			&__message {
				@apply flex-grow;

				textarea {
					@extend .input;

					@apply resize-none;
				}
			}

			label {
				font-size: $h4;
			}

			&__send {
				@apply flex justify-center pt-12;

				input {
					&:focus {
						@apply outline-none;
					}
				}
			}

			.form-messages {
				@apply text-center;

				.form-success {
					@apply bg-mint py-4 px-8;
				}

				.form-error {
					@apply bg-grey py-4 px-8;
				}
			}
		}
	}
}
