@import 'variables';
@import 'mixins';
@import 'typography';

.footer {
	color: $white;
	background-color: var(--footer);

	.content {
		padding: 3rem 4rem;
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;

		.social-icons {
			margin: auto;

			a {
				transition: all 0.3s;

				i {
					font-size: $h1;
					display: inline-block;
					margin: 0 1rem;
				}
			}
		}

		.copyright {
			text-align: center;
			padding: 1rem;
		}
	}
}
