@import "variables";
@import "mixins";

@function responsiveFontSizes(
    $breakpoint,
    $minFontSize,
    $factor: 1.3,
    $maxBreakpoint: $wide,
    $htmlFontSize: $htmlBaseFontSize
) {
    $maxFontSize: $factor * ($minFontSize - 1) + 1;
    $result: 1;
    $mediaQFactor: ($maxFontSize - $minFontSize) / $maxBreakpoint;

    $value: $minFontSize + $mediaQFactor * $breakpoint;
    @return $value;
}