@import 'variables';
@import 'mixins';

html {
  font-size: $htmlBaseFontSize;
  scroll-behavior: smooth;
}

html,
body {
  scroll-padding-top: 8rem;
}

* {
  @apply box-border;
}

main {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  min-height: 75vh;
  filter: var(--filter);

  section {
    width: 100%;
    padding: 0;
    transition: all 0.5s;

    &:nth-of-type(2n) {
      @apply bg-white dark:bg-darker;
    }

    &:nth-of-type(2n + 1) {
      @apply bg-light dark:bg-dark;
    }
  }
}

.content {
  @apply relative flex items-center flex-col md:flex-row p-20 overflow-hidden w-full h-full max-w-screen-xl;

  &--col {
    @apply md:flex-col;

    &-reverse {
      @apply flex-col-reverse flex md:items-start lg:items-center;
    }
  }
}

img {
  pointer-events: none;
}

input {
  overflow: visible;
}
