@import "variables";
@import "mixins";

.header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    transition: all 0.5s ease-out, background 1s ease-out;
    transition-delay: 0.2s;

    @include small {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 9rem;
        padding: 1rem 2rem;
        background-color: transparent;
    }

    .content {

        padding: 0;

        @include small {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }

        .logo {
            height: 100%;

            @include narrow {
                display: none;
            }
        }
    }

}