@import 'variables';
@import 'typography';

.legal {
	#iubenda_policy {
		.simple_pp > ul > li > ul .iconed,
		.expand-click {
			//background: none;
			@apply bg-none pl-0;
		}

		.expand-click {
			padding-left: 2rem !important;
		}

		.expand-content {
			padding: 0 1rem 0.5rem !important;
		}

		.iub_content {
			@extend p;

			h1,
			h2 {
                @apply hidden;
			}

			h3 {
				@apply h3 pt-6 px-0 pb-4;
			}

			ul:last-child li ul li h3 {
				@extend p;
			}

			h4 {
				@apply h4;
			}

			div,
			p,
			h3,
			h4 {
				@apply font-sans text-black dark:text-white;
			}

			a {
				@apply no-underline text-highlight border-none;
			}

			hr {
				@apply hidden;
			}

			.box_primary {
				@apply bg-light dark:bg-darker;
			}
		}
	}
}
