/*
 * Colors
 */

$black: #111111;
$white: #ffffff;
$highlight: #f31c4f;

/*
 * Typography
 */

$htmlBaseFontSize: 10px;
$h1: 6rem;
$h2: 4rem;
$h3: 2rem;
$h4: 1.8rem;
$body1: 1.8rem;
$body2: 1.6rem;
$button: 1.8rem;
$caption: 1.4rem;
$quote: 2.5rem;