/*
 * Colors
 */

$black: #111111;
$white: #ffffff;
$highlight: #ec2d5b;
$highlightSoft: #e04171;
$dark: #333333;
$darker: #222222;
$grey: #aaaaaa;
$lightGrey: #eeeeee;
$navy: #0f3d73;
$midnightNavy: #15134f;
$slate: #708090;
$light: #f7f7f7;

/*
 * Typography
 */

$htmlBaseFontSize: 10px;
