@import "functions";
@import "mixins";
@import "variables";
@import "typography";
@import "dark-mode";

html {
    font-size: 10px;
    overscroll-behavior: none;
    scroll-behavior: smooth;
    overflow-x: hidden;

    // Theme variables
    --bg: #{$white};
    --bg-alt: #{$light};
    --text: #{$black};
    --text-highlight: #{$highlight};
    --filter: saturate(1);
    --header: #{$midnightNavy};
    --footer: #{$darkNavy};
    --input: #{$white};
}

html[data-theme='dark'] {
    // Theme variables
    --bg: #282828;
    --bg-alt: #{$darker};
    --text: #{$light};
    --text-highlight: #{$highlightSoft};
    --filter: saturate(.85);
    --header: #151515;
    --footer: #151515;
    --input: #{$grey};
}

* {
    box-sizing: border-box;
}

body.elev8 {
    font-family: muli, sans-serif;
    font-weight: 400;
    position: relative;
    overflow-x: auto;
    margin: auto;
    letter-spacing: 0.02rem;
    color: var(--text);
    min-height: 100vh;

    @import "global";
    @import "header";
    @import "footer";
    @import "navigation";
    @import "hero";
    @import "icon-list";
    @import "horizontal-split";
    @import "contact";
    @import "legal";
}