{% extends "layout/blueprint" %}

{% block title %}Page not found{% endblock %}

{% block bodyClass %}secondary-page four-oh-four{% endblock %}

{% block content %}

    <section class="">
        <h3>404 - Page not found</h3>
        <p>Oops, you've made a wrong turn.</p>
    </section>

{% endblock %}