{% if entry['blocks'] is defined %}

    {% set blocks = entry.blocks.level(1) %}

    {% if blocks|length %}

        {% for block in blocks.all() %}

            <section class="{{ block.sectionClass }}" id="{{ block.sectionId }}">



                {% include "_includes/" ~ block.type.handle|kebab %}

            </section>

        {% endfor %}

    {% endif %}

{% endif %}