<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
	{% import '_helpers/macros' as macros %}

	{% set seo = getSeoField() %}

	{% include '_globals/head' %}

	<body id="body" class="elev8 {{ entry.bodyClass|default('') }}">
		{% include '_globals/google-body-script' %}

		{% include '_globals/header' %}

		<main id="container">
			{% block content %}

			{% endblock %}
		</main>

		{% include '_globals/footer' %}
	</body>
</html>
