<!doctype html>
<html lang="{{ craft.app.language }}">

    {% import "_includes/macros" as macros %}

    {% set seo = getSeoField() %}

    {% include "_includes/head" %}

    <body id="body" class="elev8 {{ entry.bodyClass }}">

        {% include "_includes/header" %}

        <main id="container">

            {% block content %}{% endblock %}

        </main>

        {% include "_includes/footer" %}

    </body>

</html>