<footer class="footer flex justify-center bg-navy dark:bg-darker" id="footer">
    <div class="content content--col">
        <div class="m-auto flex">
            <a href="https://twitter.com/TheElev8Studio"
                target="_blank"
                aria-label="Twitter"
                rel="noopener">
                <i class="fab fa-twitter icon"></i>
            </a>
            <a href="https://github.com/elev8studio"
                target="_blank"
                aria-label="Github"
                rel="noopener">
                <i class="fab fa-github icon"></i>
            </a>
            <a href="https://www.linkedin.com/in/jonathansmithies"
                target="_blank"
                aria-label="LinkedIn"
                rel="noopener">
                <i class="fab fa-linkedin-in icon"></i>
            </a>
            <a href="{{ 'mailto:help@elev8stud.io'|entities }}"
                target="_blank"
                aria-label="Email">
                <i class="fas fa-envelope icon"></i>
            </a>
        </div>
        <div class="copyright">
            <p class="caption text-grey text-center p-4">
                Copyright © {{ 'now'|date('Y') }} {{ footer.copyright }}
            </p>
        </div>
    </div>
</footer>
