<header class="header" id="header">
	<div class="content">
		{% set logo = craft.assets().filename('elev8studio-logo.svg').one() %}

		<a class="logo-link" href="/" aria-label="Visit homepage">
			{{
				svg(logo, sanitize = false, namespace = false)|attr({
					class: 'logo'
				})
			}}
		</a>

		{% include '_includes/navigation' %}
	</div>
</header>
