<!-- prettier-ignore-start -->
<script type="text/javascript">
var _iub = _iub || []
_iub.csConfiguration = {
	'gdprAppliesGlobally': false,
	'countryDetection': true,
	'cookiePolicyInOtherWindow': true,
	'askConsentAtCookiePolicyUpdate': true,
	'consentOnContinuedBrowsing': false,
	'lang': 'en',
	'siteId': 1301242,
	'cookiePolicyId': 94595156,
	'cookiePolicyUrl': '/cookies',
	'banner': {
		'prependOnBody': false,
		'acceptButtonDisplay': true,
		'customizeButtonDisplay': true,
		'acceptButtonColor': '#e04171',
		'acceptButtonCaptionColor': 'white',
		'customizeButtonColor': '#DADADA',
		'customizeButtonCaptionColor': '#4D4D4D',
		'rejectButtonDisplay': true,
		'rejectButtonColor': '#708090',
		'rejectButtonCaptionColor': 'white',
		'position': 'float-top-center',
		'textColor': 'black',
		'backgroundColor': '#ffffff',
		'fontSize': '14px',
		'brandBackgroundColor': '#15134f',
		'brandTextColor': 'black',
		'acceptButtonCaption': '<span style="font-family: \'Muli\', sans-serif; text-transform: uppercase; font-weight: 600; letter-spacing: 1px;">Accept</span>',
		'customizeButtonCaption': '<span style="font-family: \'Muli\', sans-serif; text-transform: uppercase; font-weight: 600; letter-spacing: 1px;">Learn more</span>',
		'rejectButtonCaption': '<span style="font-family: \'Muli\', sans-serif; text-transform: uppercase; font-weight: 600; letter-spacing: 1px;">Reject</span>',
		'content': '<div id="iubenda-cs-title" style="font-family: \'Muli\', sans-serif; font-size: 20px; color: #e04171; font-weight: 600;">Cookie Notice</div><div id="iubenda-cs-paragraph" style="font-family: \'Muli\', sans-serif; font-weight: 500; font-size: 16px;">We use cookies on this website as specified in the <a href="/cookies" style="text-decoration: none !important; opacity: 1 !important; color: #e04171 !important;">cookie policy</a> to monitor performance and improve your overall experience. We do not store non-essential cookies without your consent. Press Accept to proceed.</div>',
	},
} </script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async>

</script>
<!-- prettier-ignore-end -->
